<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/asana/eclipse-workspace/seleniumwebdriver">
        <classes>
            <class name="day42.FirstTestCase">
            <methods>
                <include name="openApp"/>
                <include name="login"/>
                <include name="logout"/>
            </methods>
        </class>
            <class name="day42.OrangeHRMTest">
                <methods>
                    <include name="openApp"/>
                    <include name="testLogo"/>
                    <include name="testLogin"/>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>